Repository opsmill/infrahub-ansible, pull requests merged in 2024-07, with the labels that each got.

#75 bump python package following CVE and SDK release
  poetry.lock
Labels: dependencies

#76 Update dependabot.yml
  .github/dependabot.yml
Labels: changes/patch

#84 feat: Add the support for 'sub' includes in inventory
  docs/plugins/artifact_fetch_module.rst
  docs/plugins/environment_variables.rst
  docs/plugins/index.rst
  docs/plugins/install_role.rst
  docs/plugins/inventory_inventory.rst
  docs/plugins/lookup_lookup.rst
  docs/plugins/query_graphql_module.rst
  plugins/module_utils/exception.py
  plugins/module_utils/infrahub_utils.py
  tests/integration/targets/inventory/output-test-inventory5.yml
  tests/integration/targets/inventory/test-inventory2.yml
  tests/integration/targets/inventory/test-inventory3.yml
  tests/integration/targets/inventory/test-inventory4.yml
  tests/integration/targets/inventory/test-inventory5.yml
  tests/integration/targets/inventory/test-inventory6.yml
Labels: changes/minor

#83 Group dependabot updates
  .github/dependabot.yml
Labels: ci/skip-changelog

#91 Pre Release
  .github/workflows/trigger-push-stable.yml
  docs/plugins/artifact_fetch_module.rst
  docs/plugins/environment_variables.rst
  docs/plugins/index.rst
  docs/plugins/install_role.rst
  docs/plugins/inventory_inventory.rst
  docs/plugins/lookup_lookup.rst
  docs/plugins/query_graphql_module.rst
  plugins/module_utils/exception.py
  plugins/module_utils/infrahub_utils.py
  poetry.lock
  tests/integration/targets/inventory/output-test-inventory5.yml
  tests/integration/targets/inventory/test-inventory2.yml
  tests/integration/targets/inventory/test-inventory3.yml
  tests/integration/targets/inventory/test-inventory4.yml
  tests/integration/targets/inventory/test-inventory5.yml
  tests/integration/targets/inventory/test-inventory6.yml
Labels: ci/skip-changelog

#94 Trying to fix version-drafter-action
  .github/release-drafter.yml
  .github/version-drafter.yml
  .github/workflows/trigger-pr-develop.yml
  .github/workflows/trigger-pr-stable.yml
  .github/workflows/trigger-push-stable.yml
  poetry.lock
  pyproject.toml
Labels: ci/skip-changelog

#95 Backport stable into develop
  CHANGELOG.rst
  changelogs/changelog.yaml
  docs/plugins/inventory_inventory.rst
  galaxy.yml
  pyproject.toml
Labels: ci/skip-changelog

#96 update infrahub-sdk to v0.12.1
  poetry.lock
Labels: changes/patch

#97 Add more labels
  .github/labels.yml
Labels: ci/skip-changelog
