Repository opsmill/infrahub-ansible, pull requests merged in 2025-02, with the labels that each got.

#175 fix permissions
  docs/docs/ansible/references/roles/install.mdx
  roles/install/meta/argument_specs.yml
  roles/install/tasks/main.yml
  roles/install/templates/config.env.j2
Labels: changes/patch

#176 Pre Release
  docs/docs/ansible/references/roles/install.mdx
  roles/install/meta/argument_specs.yml
  roles/install/tasks/main.yml
  roles/install/templates/config.env.j2
Labels: ci/skip-changelog

#181 Replace create_branch and create_node by node and branch module
  docs/_templates/readme.mdx.j2
  docs/docs/guides/branch.mdx
  docs/docs/guides/create-branch.mdx
  docs/docs/guides/create-node.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/node.mdx
  docs/docs/guides/query-and-lookup.mdx
  docs/docs/readme.mdx
  docs/docs/references/plugins/branch_module.mdx
  docs/docs/references/plugins/create_branch_module.mdx
  docs/docs/references/plugins/create_node_module.mdx
  docs/docs/references/plugins/node_module.mdx
  docs/sidebars.ts
  plugins/action/create_branch.py
  plugins/action/create_node.py
  plugins/action/query_graphql.py
  plugins/inventory/inventory.py
  plugins/lookup/lookup.py
  plugins/module_utils/branch.py
  plugins/module_utils/exception.py
  plugins/module_utils/infrahub_utils.py
  plugins/module_utils/node.py
  plugins/modules/artifact_fetch.py
  plugins/modules/branch.py
  plugins/modules/node.py
  plugins/modules/query_graphql.py
  tests/integration/targets/inventory/test-inventory5.yml
  tests/integration/targets/playbooks/branch.yml
  tests/integration/targets/playbooks/create_node1.yml
  tests/integration/targets/playbooks/create_node2.yml
  tests/integration/targets/playbooks/create_node3.yml
  tests/integration/targets/playbooks/create_node4.yml
  tests/integration/targets/playbooks/create_node_cycle1.yml
  tests/integration/targets/playbooks/create_node_fail1.yml
Labels: changes/minor

#182 Pre-release (1.5.0)
  docs/_templates/readme.mdx.j2
  docs/docs/guides/branch.mdx
  docs/docs/guides/create-branch.mdx
  docs/docs/guides/create-node.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/node.mdx
  docs/docs/guides/query-and-lookup.mdx
  docs/docs/readme.mdx
  docs/docs/references/plugins/branch_module.mdx
  docs/docs/references/plugins/create_branch_module.mdx
  docs/docs/references/plugins/create_node_module.mdx
  docs/docs/references/plugins/node_module.mdx
  docs/sidebars.ts
  plugins/action/create_branch.py
  plugins/action/create_node.py
  plugins/action/query_graphql.py
  plugins/inventory/inventory.py
  plugins/lookup/lookup.py
  plugins/module_utils/branch.py
  plugins/module_utils/exception.py
  plugins/module_utils/infrahub_utils.py
  plugins/module_utils/node.py
  plugins/modules/artifact_fetch.py
  plugins/modules/branch.py
  plugins/modules/node.py
  plugins/modules/query_graphql.py
  tests/integration/targets/inventory/test-inventory5.yml
  tests/integration/targets/playbooks/branch.yml
  tests/integration/targets/playbooks/create_node1.yml
  tests/integration/targets/playbooks/create_node2.yml
  tests/integration/targets/playbooks/create_node3.yml
  tests/integration/targets/playbooks/create_node4.yml
  tests/integration/targets/playbooks/create_node_cycle1.yml
  tests/integration/targets/playbooks/create_node_fail1.yml
Labels: ci/skip-changelog

#183 Backport Stable to Develop
  docs/docs/references/plugins/artifact_fetch_module.mdx
  docs/docs/references/plugins/branch_module.mdx
  docs/docs/references/plugins/node_module.mdx
  docs/docs/references/plugins/query_graphql_module.mdx
Labels: ci/skip-changelog
